.ol-zoom {
  top: 10px;
  right: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;

  button {
    font-size: x-large;
    height: 2rem;
    width: 2rem;
  }
}

.ol-scale-line {
  position: absolute;
  left: 50%;
  bottom: 24px;
}

.ol-scale-line-inner {
  font-size: 16px;
}

.ol-mouse-position {
  position: absolute;
  font-size: 16px;

  top: 96%;
  right: 2%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}
