/* --- Scale & Mouse Position --- */
.ol-scale-bar {
  position: absolute;
  left: 120px;
  bottom: 35px;
}

.ol-scale-line-bar {
  font-size: 24px;
}

.ol-scale-text {
  font-size: 14px;
}

.ol-scale-step-text {
  font-size: 12px;
}

.ol-mouse-position {
  position: absolute;
  font-size: 16px;
  top: calc(100vh - 70px);
  right: 120px;
  padding: 5px 8px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}

/* --- Tooltip styling --- */
.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
}

.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.ol-tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: '';
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.ol-tooltip-static:before {
  border-top-color: #ffcc33;
}

/* --- Misc --- */
.hidden {
  display: none;
}
