/* --- Scale & Mouse Position --- */
.ol-scale-line {
  position: absolute;
  right: 10px;
  bottom: 48px;
  left: auto;
}

/* Mobile: center scale line above toolbar */
@media (max-width: 768px) {
  .ol-scale-line {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
  }
}

.ol-scale-line-inner {
  border: 2px solid #333;
  border-top: none;
  color: #333;
  font-size: 12px;
  text-align: center;
  background: rgba(233, 229, 229, 0.7);
  padding: 2px 5px;
}

.ol-mouse-position {
  position: absolute;
  font-size: 16px;
  top: calc(100vh - 70px);
  right: 120px;
  padding: 5px 8px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}

/* --- Tooltip styling --- */
.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
  opacity: 1;
  font-weight: bold;
}

.ol-tooltip-static {
  background-color: #ffffff;
  color: black;
  border: 1px solid white;
}

.ol-tooltip-measure-arrow-up::before,
.ol-tooltip-static-arrow-up::before {
  border-bottom: 6px solid rgba(0, 0, 0, 0.5);
  top: -6px;
}

.ol-tooltip-measure-arrow-down:before,
.ol-tooltip-static-arrow-down:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  bottom: -6px;
}

.ol-tooltip-static:before {
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -7px;
}

.hiking-map-overlay {
  width: 300px;
  /* Adjust as you like */
  height: 400px;
  /* Adjust as you like */
  pointer-events: none;
  /* Let user interact with map */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: rgba(253, 143, 0, 0.5);

  div {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

/* --- Misc --- */
.hidden {
  display: none;
}

#map {
  touch-action: none;
}
