#crs-select-trigger {
  button {
    border: none;
  }
}

.toolbar-select .kvib-select__indicator svg {
  stroke: white;
  fill: white;
}

.toolbar-select-trigger {
  button {
    border-top: none;
    border-bottom: none;
  }
}
