name: Build and deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      bypassValidation:
        description: 'Bypass validation checks'
        required: false
        default: false
        type: boolean
  pull_request:
    branches:
      - main

env:
  image_registry: ghcr.io

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      docker_tag: ${{ steps.meta.outputs.tags }}
    steps:
      - name: 'Checkout code'
        uses: actions/checkout@v6

      - name: 'Setup node.js'
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: 'Audit dependencies'
        if: ${{ !github.event.inputs.bypassValidation }}
        run: npm audit --production --audit-level=high

      - name: 'Install dependencies'
        run: npm ci

      - name: 'Verify linting'
        if: ${{ !github.event.inputs.bypassValidation }}
        run: npm run lint

      - name: 'Verify formatting'
        if: ${{ !github.event.inputs.bypassValidation }}
        run: npm run format-check

      - name: 'Build'
        run: npm run build

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=sha, prefix=commit-

      - name: Build and push Docker image
        id: docker
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
    if: github.event_name != 'pull_request'
    steps:
      - uses: octo-sts/action@f603d3be9d8dd9871a265776e625a27b00effe05
        id: octo-sts
        with:
          scope: kartverket/tnt-apps
          identity: norgeskart5

      - name: Checkout apps repository
        uses: actions/checkout@v6
        with:
          repository: kartverket/tnt-apps
          ref: main
          token: ${{ steps.octo-sts.outputs.token }}

      - name: Git setup for deploy
        run: |
          git config --global user.email "tnt-nk@kartverket.no"
          git config --global user.name "tnt-nk CI"

      - name: Update deployment
        env:
          COMMIT_MESSAGE: Update norgeskart5 image to ${{ needs.build.outputs.docker_tag }}
        run: |
          echo "\"${{ needs.build.outputs.docker_tag }}"\" > env/atkv3-dev/norgeskart-main/norgeskart5-version
          echo "\"${{ needs.build.outputs.docker_tag }}"\" > env/atkv3-prod/norgeskart-main/norgeskart5-version
          git add .
          git commit -m "$COMMIT_MESSAGE"
          git push
