name: Create preview environment

on:
  workflow_dispatch:
    inputs:
      bypassValidation:
        description: 'Bypass validation checks'
        required: false
        default: 'false'
        type: boolean

env:
  image_registry: ghcr.io

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    with:
      bypassValidation: ${{ github.event.inputs.bypassValidation }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: octo-sts/action@d6c70ad3b9ac85df6da6b9749014d7283987cfec
        id: octo-sts
        with:
          scope: kartverket/tnt-apps
          identity: norgeskart5

      - name: Checkout apps repository
        uses: actions/checkout@v5
        with:
          repository: kartverket/tnt-apps
          ref: main
          token: ${{ steps.octo-sts.outputs.token }}

      - name: Git setup for deploy
        run: |
          git config --global user.email "tnt-nk@kartverket.no"
          git config --global user.name "tnt-nk CI"

      - name: Update deployment
        env:
          COMMIT_MESSAGE: Create preview for commit ${{ github.sha }}
        run: |
          cp env/atgcp1-dev/norgeskart-main env/atgcp1-dev/norgeskart-preview-${{ github.sha }} -r
          echo "\"${{ needs.build.outputs.docker_tag }}"\" > env/atgcp1-dev/norgeskart-preview-${{ github.sha }}/norgeskart-version
          git add .
          git commit -m "$COMMIT_MESSAGE"
          git push
