name: Run e2e tests using cypress

on: 
  - workflow_dispatch

permissions:
  contents: read

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v5
        - name: Cypress run
          uses: cypress-io/github-action@v6
          with:
            start: npm run dev
