name: Run e2e tests using cypress

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox, edge, webkit]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Install webkit dependencies
        if: matrix.browser == 'webkit'
        run: |
          npx playwright install-deps
      - name: Cypress run
        uses: cypress-io/github-action@v7
        with:
          start: npm run dev
          browser: ${{ matrix.browser }}
