name: Run e2e tests using cypress

on: 
  - workflow_dispatch

permissions:
  contents: read

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox, edge, webkit]
    steps:
        - name: Checkout code
          uses: actions/checkout@v5
        - name: Setup Node.js
          uses: actions/setup-node@v6
          with:
            node-version: '22'
        - name: Install webkit dependencies
          if: matrix.browser == 'webkit'
          run: |
            npx playwright install-deps
        - name: Cypress run
          uses: cypress-io/github-action@v6
          with:
            start: npm run dev
            browser: ${{ matrix.browser }}



            # sudo apt-get update
            # sudo apt-get install -y \
            #     libgtk-4.so.1 \
            #     libgraphene-1.0.so.0 \
            #     libwoff2dec.so.1.0.2 \
            #     libvpx.so.9 \
            #     libevent-2.1.so.7 \
            #     libopus.so.0 \
            #     libgstallocators-1.0.so.0 \
            #     libgstapp-1.0.so.0 \
            #     libgstpbutils-1.0.so.0 \
            #     libgstaudio-1.0.so.0 \
            #     libgsttag-1.0.so.0 \
            #     libgstvideo-1.0.so.0 \
            #     libgstgl-1.0.so.0 \
            #     libgstcodecparsers-1.0.so.0 \
            #     libgstfft-1.0.so.0 \
            #     libflite.so.1 \
            #     libflite_usenglish.so.1 \
            #     libflite_cmu_grapheme_lang.so.1 \
            #     libflite_cmu_grapheme_lex.so.1 \
            #     libflite_cmu_indic_lang.so.1 \
            #     libflite_cmu_indic_lex.so.1 \
            #     libflite_cmulex.so.1 \
            #     libflite_cmu_time_awb.so.1 \
            #     libflite_cmu_us_awb.so.1 \
            #     libflite_cmu_us_kal16.so.1 \
            #     libflite_cmu_us_kal.so.1 \
            #     libflite_cmu_us_rms.so.1 \
            #     libflite_cmu_us_slt.so.1 \
            #     libavif.so.1 \
            #     libharfbuzz-icu.so.0 \
            #     libsecret-1.so.0 \
            #     libhyphen.so.0 \
            #     libmanette-0.2.so.0 \
            #     libGLESv2.so.2 \
            #     libx264.s \
